//*********************************************** Variables *********************************************** 

$color-primary: #FFDE2B;
$color-secondary: rgba(217, 217, 217, 1);
$color-black: #000000;
$color-white: #FFFFFF;
$color-secondary-text: #3D3D3D;
$color-light-text: #727272;
$color-body-text: rgba(61, 61, 61, 1);
$color-danger: #FF0000;
$color-dark-text: #251C0C;
$color-bg-light-body: #BBBBBB;
